// Font sizes

$s-font-main-header: 48px
$s-font-header: 32px
$s-font-primary: 24px
$s-font-description: 20px
$s-font-secondary: 16px
$s-font-product-title: 14px

// Font weights

$s-weight-bold: 700

// Border radiuses

$s-border-radius-rounded: 16px
