@import '../../style/variables/variables'
  
.home-page
  position: relative
  +flex-center
  flex-direction: column

  &__welcome-message, &__products-redirect
    text-align: center

  &__welcome-message
    font-size: $s-font-main-header
    line-height:  $s-font-main-header
    font-weight: $s-weight-bold
    margin-top: 60px

  &__products-redirect
    font-size: $s-font-primary
    margin-top: 40px

    button
      margin-top: 40px
      width: 240px
      height: 60px
      border-radius: $s-border-radius-rounded
      +button