@import '../../style/variables/variables'
    
.main-container
    width: 100%
    background: $c-background

    &__content
        min-height: calc(100vh - 320px)
        padding: 80px 20px 

        +mdm
            margin: 0 120px 

        +xxl
            margin: 0 360px 